<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爬取工作首页</title>
    <!--@*1、Jquery组件引用*@-->
    <script src="../static/jquery-3.4.1.js"></script>

    <!--@*2、bootstrap组件引用*@-->
    <script src="../static/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
    <link href="../static/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
<br/><br/><br/><br/><br/>
    <div>
        <a href="/find_ip" target="_blank" style="margin: 10px 100px;">
        <button type="button" class="btn btn-primary btn-w-m" id="queryBtn">
            爬取动态ip(已有2019.5.16数据)
        </button>
        </a>
    </div>
<br/><br/><br/><br/><br/>
    <div>
        <a href="/find_job" target="_blank" style="margin: 10px 100px;">
        <button type="button" class="btn btn-primary btn-w-m" id="queryBtn">
            自定义爬取前程无忧工作
        </button>
        </a>
    </div>
<br/><br/><br/><br/><br/>
    <div>
        <a href="/show_job" target="_blank" style="margin: 10px 100px;">
        <button type="button" class="btn btn-primary btn-w-m" id="queryBtn">
            显示爬取的工作(已有python开发数据)
        </button>
        </a>
    </div>
</body>
</html>